* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.wrapper {
  padding: 10px;
  display: flex;
  display: -ms-flexbox;
  height: 100%;
}
.wrapper .nav {
  width: 10%;
  padding-right: 20px;
}
.wrapper .content {
  flex: 1;
  -ms-flex: 1;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.nav-header {
  position: relative;
  height: 36px;
  margin-bottom: 10px;
}
.nav-header > select, .nav-header > input {
  width: 90%;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 0;
}
.nav-header > input {
  width: 70%;
}

.nav-month {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  width: 100%;
}
.nav-month > span {
  width: 45%;
  line-height: 36px;
  display: inline-block;
  border: 1px solid darkgray;
  text-align: center;
  margin-bottom: -1px;
  margin-right: -1px;
  cursor: pointer;
}

.content-header {
  height: 36px;
  display: flex;
  display: -ms-flexbox;
  border-bottom: 1px solid darkgray;
  vertical-align: middle;
}
.content-header > span {
  flex: 1;
  -ms-flex: 1;
  font-weight: 600;
  font-size: 20px;
  padding-left: 5px;
  line-height: 36px;
}

.content-wrapper {
  flex: 1;
  -ms-flex: 1;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
}
.content-wrapper .content-item {
  border: 1px solid darkgray;
  margin: 5px;
  padding: 10px 0 0 20px;
  position: relative;
}
.content-wrapper .content-item:nth-of-type(7n), .content-wrapper .content-item:nth-of-type(7n+1) {
  background: lightgreen;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.content-wrapper .content-item .date-label {
  line-height: 20px;
  width: 40px;
  text-align: center;
}
.content-wrapper .content-item .holiday-span, .content-wrapper .content-item .red-span, .content-wrapper .content-item .event-span, .content-wrapper .content-item .orange-span, .content-wrapper .content-item .waning-span {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  display: block;
  padding: 0 3px;
}
.content-wrapper .content-item .holiday-span {
  right: 0;
  border: 1px solid darkgray;
  border-bottom: none;
  border-right: none;
}
.content-wrapper .content-item .red-span {
  right: 0;
  color: red;
}
.content-wrapper .content-item .event-span, .content-wrapper .content-item .orange-span, .content-wrapper .content-item .waning-span {
  right: 15px;
  top: 10px;
  height: 16px;
  color: white;
  text-align: center;
  background: #4fb431;
}
.content-wrapper .content-item .orange-span {
  background: orange;
}
.content-wrapper .content-item .waning-span {
  background: #9e0b1e;
}
.content-wrapper .content-item > ul {
  margin-top: 5px;
  margin-left: 20px;
}
.content-wrapper .content-item > ul > li {
  font-size: 12px;
  list-style: none;
}

/*# sourceMappingURL=timeCard.css.map */
